#board {
  background-color: #555;
}
td.cell {
  background-color: rgb(152, 188, 82);
  width: 60px;
  height: 60px;
  margin: 2px;
  font-size: 50px;
  text-align: center;
}

td.black {
  color: black;
}
td.white {
  color: white;
}